*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: cadetblue;
    text-align: center;
    height: 100px;
}
.container {
    display: flex;
    height: 40px;
    background-color: cornflowerblue;
}
.row{
    flex-direction: row;
    list-style: none;
}
li{
    padding: 5px;
    border:1px solid darkkhaki;
}
li:hover{
    background-color: darkorange;
}
section {
    padding: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    font-size: x-large;
}
.col1{
    flex: 0 0 33.330%;
}
img{
    width: 50%;
}
#texto{
    text-align: justify;
}
button{
   margin: 50px;
}
footer{
    text-align: center;
    background-color: darkolivegreen;
}
.menu{
    display: flex;
    justify-content: flex;
}
.columna {display: none;}
@media (max-width:800px){
    .container{
        display: none;
    }
    .columna {
        display: flex;
        flex-direction: column;
    } 
}